.main-container{
  background-image: url("../files/gkld.png");
  margin: 0;
  padding: 0;
  padding-right: 7vw;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar{
  position: fixed;
  width: 7vw;
  top:0;
  right: 0;
  bottom: 0;
  background: #E7EAEA;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-top: 3vh;
}

.sidebar .icon{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin: 0;
  padding: 0;
}
.logo{
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin: 0;
  padding: 0;
  margin-bottom: 4vh;
}
.sidebar .icon:hover,.logo:hover{
  background-color: #B8BFBF;
  transition: 0.4s;
}
.sidebar .icon:active{
  background-color: #B8BFBF;
  transition: 0.4s;
}

.logo img{
  content:url(../files/logo.png);
  max-width: 100%;
  height: 7vh;
  object-fit: cover;
  object-position: bottom;
}
.sidebar-icons{
  font-size: 4vh;
  color: #4F6466;
}